@{
    var user = HttpContext.Current.User;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
    <link href="/Content/template/template-epona/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/dt-1.10.10/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.10/datatables.min.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <!-- Vendor CSS -->
    <link href="~/Content/template/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/Content/template/template-material/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="~/Content/plugins/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    @*<link href="~/Content/plugins/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css" rel="stylesheet"/>*@
    @*<link href="~/Content/plugins/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet"/>*@
    <link href="~/Content/plugins/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
    @*<link href="~/Content/plugins/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/bootstrap-tooltip/tooltip.js"></script>
    <!-- CSS -->
    <link href="~/Content/template/template-material/css/app.min.1.css" rel="stylesheet">
    <link href="~/Content/template/template-material/css/app.min.2.css" rel="stylesheet">

    <!-- ZMDI -->
    <link href="~/Content/css/material-design-iconic-font.css" rel="stylesheet" />
    <!-- Alert -->
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'OpenSans';
        }
    </style>
</head>
<body class="toggled sw-toggled">
    <header id="header" class="clearfix" data-current-skin="blue">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            @*<li class="logo hidden-xs">
                    <a href="@Url.Action("Index","Default", new { area = "Admin", parameters = currentStoreDomain.Directory } )">@(currentStore.Name) - Chào mừng đến với trang quản trị SkyWeb Admin</a>
                </li>*@
            <li class="logo hidden-xs">
                <a href="#"></a>
            </li>
        </ul>
    </header>

    <section id="main" data-layout="layout-1">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="profile-menu">
                <a href="#">
                    <div class="profile-pic">
                        <img src="/Content/template/template-material/img/profile-pics/1.jpg" alt="">
                    </div>

                    <div class="profile-info">
                        Xin chào, @(this.User.Identity.Name)

                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-users"></i>Đổi mật khẩu</a>
                    </li>
                    <li>
                        <form id="logOffForm" action="@Url.Action("LogOff","Account", new { area = "" })" method="post">
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logOffForm').submit()"><i class="fa fa-sign-out"></i>Đăng xuất</a>
                        </form>
                    </li>
                </ul>
            </div>
            <ul class="main-menu">
                <li class="sub-menu submenu-style">
                    <a href="#"><i class="zmdi zmdi-globe"></i> Quản lí học viên</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index","ThongTinCaNhan", new { area = "HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Thông tin học viên</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ThongTinDuTuyen" , new { area="HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i>Thông tin dự tuyển</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","SucKhoe", new { area = "HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Sức Khỏe</a>
                        <li>
                            <a href="@Url.Action("Index", "ThongTinNopTien" , new { area="HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách thu/chi</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "KyTucXa" , new { area="HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Thông tin ký túc xá</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "HopDongDOLAB" , new { area="HeThong" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách hợp đồng DOLAB</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "BienBan" , new { area="HocVien" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Biên bản</a>
                        </li>
                    </ul>
                </li>
                @if (user.IsInRole("Admin") || (user.IsInRole("PhongNguon")))
                {
                    <li class="sub-menu submenu-style">
                        <a href="#"><i class="zmdi zmdi-globe"></i>Quản lý trung tâm GTVL</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "TrungTamGTVL", new { area = "HeThong" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách trung tâm</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (user.IsInRole("Admin") || (user.IsInRole("PhongXKLD")))
                {
                    <li class="sub-menu submenu-style">
                        <a href="#"><i class="zmdi zmdi-globe"></i>Quản lý nghiệp đoàn và các công ty</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "NghiepDoan", new { area = "HeThong" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách nghiệp đoàn</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CongTyChungNghe", new { area = "HeThong" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách công ty chứng nghề</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","CongTyTiepNhan", new { area = "HeThong" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách công ty tiếp nhận</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (user.IsInRole("Admin"))
                {
                    <li class="sub-menu submenu-style">
                        <a href="#"><i class="zmdi zmdi-globe"></i>Quản lý hệ thống</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","TaiKhoan", new { area = "Admin" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách tài khoản</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","SystemLog", new { area = "Admin" })"><i class="sub-menu zmdi zmdi-trending-up"></i> Danh sách log</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </aside>

        <section id="content">
            <div class="container">
                @RenderBody()
                <div class="modal-backdrop" id="loading-image" style="display:none; opacity: 0.7; z-index:99999999">
                    <i class="fa fa-spinner fa-pulse" style="position: absolute; top: 50%; left: 50%; font-size:50px;"></i>
                </div>
            </div>
        </section>
    </section>

    <footer id="footer">
        Copyright &copy; 2015 Material Admin

        <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>

    @RenderSection("scripts", false)

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="/Content/template/template-material/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="/Content/template/template-material/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <script src="/Content/template/template-material/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/Content/template/template-material/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Content/template/template-material/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <script src="~/Content/template/template-material/vendors/fileinput/fileinput.min.js"></script>

    <script src="~/Content/template/template-material/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script src="/Content/template/template-material/js/flot-charts/curved-line-chart.js"></script>
    <script src="/Content/template/template-material/js/flot-charts/line-chart.js"></script>
    <script src="/Content/template/template-material/js/charts.js"></script>
    <script src="/Content/template/template-material/js/charts.js"></script>
    <script src="/Content/template/template-material/js/functions.js"></script>

    <!-- Custom -->
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/upload-image.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script src="~/Scripts/globalize.js"></script>

    <!-- Plugins -->
    <script src="~/Content/plugins/DataTables-1.10.12/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/DataTables-1.10.12/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/DataTables-1.10.12/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Content/plugins/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    @*<script src="~/Content/plugins/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>*@
    @*<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.js"></script>*@
    <script src="~/Content/plugins/select2-4.0.3/dist/js/select2.min.js"></script>
    <script src="~/Scripts/accounting.min.js"></script>
    <script src="~/Content/plugins/DataTables-1.10.12/fnSetFilteringDelay.js"></script>

    <script>
        $(document)
          .ajaxStart(function () {
              $('#loading-image').fadeIn(400);
          })
          .ajaxStop(function () {
              $('#loading-image').fadeOut(400, function () {
                  $(this).trigger('onFadeOutComplete');
              });
          });
    </script>
</body>
</html>