@model NghiepDoanViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h3>Thêm Nghiệp đoàn</h3>
            </div>
        </div>
        <hr />
    </div>
    <form id="createNghiepDoanForm" action="@this.Url.Action("Create")" method="post">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="row group-info" style="margin-left:-2px; margin-right:-2px; margin-top:12px; padding-top:20px; padding-bottom:22px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="MaNghiepDoan">Mã nghiệp đoàn<span style="color:red"> *</span></label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.MaNghiepDoan, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="TenNghiepDoan">Tên nghiệp đoàn<span style="color:red"> *</span></label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.TenNghiepDoan, new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="TenVietTat">Tên viết tắt</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.TenVietTat, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="DiaChi">Địa Chỉ</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.DiaChi, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="NgayKyHopDong">Ngày kí hợp đồng</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    <input class="form-control default-cursor" id="NgayKyHopDong" type="text" value="" readonly style="background-color:white" />
                                    <input type="hidden" name="NgayKyHopDong" value="@this.Model.NgayKyHopDong" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="WebsiteUrl">Website</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.WebsiteUrl, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="DienThoai">Điện Thoại</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.DienThoai, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Fax">Fax</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.Fax, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="LuongCoBan">Lương cơ bản</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.LuongCoBan, new { @class = "form-control col-sm-12" })
                                    <div id="SoTienLuongCoBan" class="col-sm-12">
                                    </div>
                                    @Html.ValidationMessageFor(q => q.LuongCoBan)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="PhiDichVu">Phí dịch vụ</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.PhiDichVu, new { @class = "form-control col-sm-12" })
                                    <div id="SoTienPhiDichVu" class="col-sm-12">
                                    </div>
                                    @Html.ValidationMessageFor(q => q.PhiDichVu)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="PhiUTDT">Phí ứng trước dự tuyển</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.PhiUTDT, new { @class = "form-control " })
                                    <div id="SoTienPhiUTDT" class="col-sm-12">
                                    </div>
                                    @Html.ValidationMessageFor(q => q.PhiUTDT)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="NguoiDaiDien">Người đại diện</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.NguoiDaiDien, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="ChucDanh">Chức danh</label>
                            <div class="col-md-6">
                                <div class="fg-line">
                                    @Html.TextBoxFor(q => q.ChucDanh, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("Index")" class="btn btn-danger">Huỷ</a>
            <button type="button" onclick="Create()" class="btn btn-primary"><i class="left-icon fa fa-check"></i>Hoàn tất</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $(document).on('keyup', '#LuongCoBan', function () {
            document.getElementById('SoTienLuongCoBan').innerHTML = "";
            $('#SoTienLuongCoBan').append('Giá trị: ' + toMoney($('#LuongCoBan').val(), '.', ' đ'));
        });
    });

    $(function () {
        $(document).on('keyup', '#PhiDichVu', function () {
            document.getElementById('SoTienPhiDichVu').innerHTML = "";
            $('#SoTienPhiDichVu').append('Giá trị: ' + toMoney($('#PhiDichVu').val(), '.', ' đ'));
        });
    });

    $(function () {
        $(document).on('keyup', '#PhiUTDT', function () {
            document.getElementById('SoTienPhiUTDT').innerHTML = "";
            $('#SoTienPhiUTDT').append('Giá trị: ' + toMoney($('#PhiUTDT').val(), '.', ' đ'));
        });
    });

    $(function () {
        initializeDateRangePicker();
    });

    function initializeDateRangePicker() {
        moment.locale('vi');
        var now = moment().format("LL");
        $('input[name="NgayKyHopDong"]').val(moment().format("L"))

        $('#NgayKyHopDong').val(now);
        $('#NgayKyHopDong').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            autoUpdateInput: false,
            locale: {
                format: "LL",
                daysOfWeek: [
                    "Chủ Nhật",
                    "Thứ 2",
                    "Thứ 3",
                    "Thứ 4",
                    "Thứ 5",
                    "Thứ 6",
                    "Thứ 7"
                ],
                monthNames: [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                firstDay: 1,
            }
        },
        function (start, end, label) {
            $('#NgayKyHopDong').val(start.format('LL'));
            $('input[name="NgayKyHopDong"]').val(start.format("DD/MM/YYYY"));
        });
    }

    function Create() {
        var formData = $('#createNghiepDoanForm').serialize();

        $.ajax({
            url: '@this.Url.Action("Create")',
            data: formData,
            method: 'POST',
            success: function (result) {
                swal({title:"Tạo",
                    text: result.message,
                    type: "success"
                }, function () {
                    window.location.href = "@this.Url.Action("Index")";
                });
            },
            error: function (error) {
                swal('Lỗi', error.message, 'error');
            }
        });
    }
</script>

