@model NghiepDoanViewModel
@{
    ViewBag.Title = "Nghiệp Đoàn: " + this.Model.MaNghiepDoan;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h3>Nghiệp đoàn: <strong>@this.Model.MaNghiepDoan</strong></h3>
            </div>
        </div>
        <hr />
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="row group-info" style="margin-left:-2px; margin-right:-2px; margin-top:12px; padding-top:20px; padding-bottom:22px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="TenNghiepDoan">Tên nghiệp đoàn</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.TenNghiepDoan)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="TenVietTat">Tên viết tắt</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.TenVietTat)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="NguoiDaiDien">Người đại diện</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.NguoiDaiDien)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="ChucDanh">Chức danh</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.ChucDanh)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="DiaChi">Địa Chỉ</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.DiaChi)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="NgayKyHopDong">Ngày kí hợp đồng</label>
                        <div class="col-md-6">
                            <input class="form-control default-cursor" id="NgayKyHopDong" type="text" value="" readonly style="background-color:white" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="DienThoai">Điện Thoại</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.DienThoai)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="Fax">Fax</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.Fax)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="LuongCoBan">Lương cơ bản</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.LuongCoBan)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="PhiDichVu">Phí dịch vụ</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.PhiDichVu)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="PhiUTDT">Phí ứng trước dự tuyển</label>
                        <div class="col-md-6">
                            @Html.DisplayTextFor(q => q.PhiUTDT)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="WebsiteUrl">Website</label>
                        <div class="col-md-6">
                            <a href='@string.Format("http://" + this.Model.WebsiteUrl)'> @Html.DisplayTextFor(q => q.WebsiteUrl) </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Index")" class="btn btn-primary">Quay lại</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        moment.locale('vi');
        var now = moment().format("LL");
        $('#NgayKyHopDong').val(moment('@this.Model.NgayKyHopDong.Value.ToShortDateString()', 'DD/MM/YYYY').format('LL'));

        $('input[name="NgayKyHopDong"]').val('@this.Model.NgayKyHopDong.Value.ToShortDateString()')
    });

</script>

